<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    <!--   <class name="YTFramework.YTW.AnnotationExecutionExample"/> -->
      <class name="YTFramework.YTW.TC1"/>
      <class name="YTFramework.YTW.TC2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
